precheck_results/
verilog/includes/rom_tile.vmem
venv/
sta.log

datasheet.md
datasheet.pdf
shuttle_index.json
shuttle_index.md

# Auto generated foundry submission folder:
foundry_submission/

# pip-compile
*.egg-info
.venv/
pdk/
